/* Color Palette:
black
goldenrod #f39d31
steelblue #1c7dbb rgb(28,125,187,0)


Font:
sans serif
Amazon: Officina Sans Bold
Open Sans Extra Bold & Roboto Bold Italic from Google Fonts */

body {
    background-color:rgb(28,125,187,0.45);
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40px 0 0 0;
}

h1 {
    color:black;
    font-size: 3em;
    padding: 0;
    margin: 0;
}

button {
    background-color: #1c7dbb;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2.5em;
    border: none;
    border-radius: 50px;
    padding: 25px;
    margin: 40px;
    width: 600px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f39d31;
    border: 1px solid #f39d31;
    border-radius: 25%;
    padding: 0;
    margin: 0;
    width: auto;
}
